/2022.03.19.vcxproj
/2022.03.19.vcxproj.filters
/accumulate_async.cpp
/accumulate_packaged_task.cpp
/accumulate_unsafe.cpp
/json.hpp
/lecture.cpp
/reduce.cpp
/scoped_thread.cpp
/thread_guard.cpp
/Задание.pdf
/Конспект.pdf
/конспект.txt
